body {
    display: grid;
    grid-template-areas: 
        "header  header"
        "main    aside-first" 
        "main    aside-second" 
        "main    ." 
        "footer  footer"
        ;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: max-content max-content auto max-content;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    background: #eae7dc;
} 

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    body {
      grid-template-areas:
          "header"
          "aside-first"
          "main"
          "aside-second"
          "aside"
          "footer"
      ;
      grid-template-columns: 1fr;
    }
  }


 
